<% provide(:title, @user.name) %>
<h1>Mock up for consumer behavior</h1>
<h2><%= @lat_lng %></h2>
<div class="row" align="center">
    <%= render "search" %>
</div>
<div class="row">
  <aside class="span4">
    <section>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %> (<%= @like_count %>) likes
    </h1> 
    </section>
  </aside>
  <div class="span8">
  <% if @places.any? %>
    <h3>My Places (<%= @places.count %>)</h3>
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner" align="center">
        <div class="active item"></div>
        <% @places.each_with_index do |place, idx| %>
          <div class="<%= idx == 0 ? 'active item' : 'item' %>">
              <div class="thumnail">
                <p><%= link_to place.name, places_path %></p>
                <% review = place.reviews[-1] %>
                 <% if review %>
                    <%= image_tag review.photo.url(:thumb) %>
                 <% else %>
                    <img src="http://placehold.it/160x120" alt="">
                 <% end %>
              <%= link_to 'Post', new_review_path(place_id: place) %>
              
              <%= link_to 'Read Posts', reviews_path(place: place) %>
              </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  <% end %>
  </div>

</div>
<div class="row">

</div>
<div class="row">
  <div class="span8">
    <% if @search_places.any? %>
      <h4><%= params[:search] ? "Searched places(" : "Near by places(" %><%= @search_places.count %>)</h4>
      <ol class="thumbnails">
        <%= render @search_places %>
      </ol>
      <%= will_paginate @search_places, param_name: "search_page" %>
    <% end %>
  </div>
</div>
<%= link_to 'Register Place', new_place_path %>
<div id="map_canvas" style="width:80%; height:80%"></div>
