<div class="thumnail" align="center">
  <p><%= place.name %></p>
   <% if place.reviews.any? %>
      <%= link_to image_tag(place.review_photo(:thumb)), reviews_path(place: place) %>
   <% else %>
      <img src="http://placehold.it/160x120" alt="">
   <% end %>
   <p><%= link_to 'Post', new_review_path(place_id: place) %></p>
   <% if place.last_review %>
    <p><%= link_to 'Like', place.last_review, method: :get, remote: true %></p>
    <p id="<%= "review_" + place.last_review.id.to_s %>"><%= place.last_review.votes.size %></p>
   <% end %>
</div>

